<section class="wdspecial-products bottom-to-top hb-animate-element col-sm-9 hb-in-viewport">
    <div class="container">
       <div class="wdspecial-inner">
          <div class="wd-titletab">
             <h3 class="wd-title"><span><%= categoria_nome %></span></h3>
          </div>
          <div class="wdspecial-list">
             <div class="products row produtos_categorias" >
                
             
                


          
           

                <% produtos.forEach(function(element) { %>
                  <article class="product-miniature js-product-miniature product-grid col-lg-3 col-md-6 col-sm-6 col-xs-6" data-id-product="5" data-id-product-attribute="19">
                     <div class="thumbnail-container">
                        <div class="wdproduct-image">
                           <a href="#" class="thumbnail product-thumbnail">
                           <img class="wdproduct-img1" src="https://minhatshirt.fbitsstatic.net/img/p/os-sonhos-de-deus-amarelo-71495/261377.jpg?w=340&amp;h=509&amp;v=202204041114&amp;qs=ignore" alt="Zara-US Square Yellow color..." data-full-size-image-url="https://prestashop.webdigify.com/WDGTM/WDGTM015_style/img/p/1/1/3/8/1138-large_default.jpg">
                           <img class="second_image img-responsive" src="https://minhatshirt.fbitsstatic.net/img/p/os-sonhos-de-deus-amarelo-71495/261377-1.jpg?w=340&amp;h=509&amp;v=202204041317&amp;qs=ignore" data-full-size-image-url="https://prestashop.webdigify.com/WDGTM/WDGTM015_style/img/p/1/1/3/9/1139-large_default.jpg" alt="">
                           </a>
                           <div class="label">
                           </div>
                           <div class="wdproducthover">
                              
                              <div class="quick-view-block">
                                 <a href="#" class="quick-view btn btn-primary" data-link-action="quickview" title="Adicionar ao carrinho">
                                 <i class="material-icons-outlined  quick_view_icon">shopping_cart</i> <span>Adicionar ao carrinho</span>
                                 <span class="loading"><i class="material-icons">cached</i></span>
                                 </a>
                              </div>
                              <div class="quick-view-block">
                                 <a href="#" class="quick-view btn btn-primary" data-link-action="quickview" title="Ver">
                                 <i class="material-icons-outlined  quick_view_icon">visibility</i> <span>Ver</span>
                                 <span class="loading"><i class="material-icons">cached</i></span>
                                 </a>
                              </div>
                           </div>
                        </div>
                        <div class="wdproduct-desc">
                           <div class="product-description">
                              <div class="review-variants">
                                 <div class="hook-reviews">
                                    <div class="comments_note" itemprop="aggregateRating" itemscope="" itemtype="https://schema.org/AggregateRating">
                                       <div class="star_content clearfix">
                                          <div class="star star_on"></div>
                                          <div class="star star_on"></div>
                                          <div class="star star_on"></div>
                                          <div class="star star_on"></div>
                                          <div class="star star_on"></div>
                                      
                                          <meta itemprop="ratingValue" content="5">
                                       </div>
                                       <meta itemprop="itemReviewed" content="OS SONHOS DE DEUS - AMARELO">
                                    </div>
                                 </div>
                                 <div class="highlighted-informations no-variants hidden-sm-down">
                                 </div>
                              </div>
                              <span class="h3 product-title" itemprop="name"><a href="#"><%= element.name %></a></span>
                              <div class="product-price-and-shipping">
                                 <span itemprop="price" class="price offer-price">R$ <%= element.valor %></span>
                               
                              </div>
                           </div>
                        </div>
                     </div>
                  </article>
                  <% }); %>
          
          
    
               
          </div>
          </div>
       </div>
    </div>
    <!-- <div class="allproduct"><a href="#">All sale products</a></div> -->
 </section>
<script>

// $(document).scroll(function() { 

//     var top = document.body.scrollTop;
//     var maxTop = (document.body.scrollHeight - document.body.clientHeight) - 600;

//     console.log(maxTop)
    
//     if (parseInt(top) > maxTop) {
//       $(".produtos_categorias").append($(".produtos_categorias").html());
//     }
//   });
 
</script>
